/* header general container */
 .header {
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-left: -10px;
    padding: 0;
    position: absolute;
    display: block;
}

/*header general container*/
.headerMainContainer {
    position: static;
    display: flex;
    flex-direction: row;
    height: 71px;
    justify-content: center;
}

/*Mc icon header div*/
.mcHeaderIcon {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-left: 27px;
    margin-right: 40px;
    
}
/*Mc icon header image link */
.mcHeaderIcon svg{
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* General menus container, upper menus and lower menus div*/
.headerMenusContainer {
    display: flex;
    flex-direction: column;
    width: 57%;
    max-width: 800px;
    height: 100%;
    justify-content: center;
    position: relative;
}
/*header upper menus div*/
.headerMainMenus {
    display: flex;
    position: relative;
}
/*header upper menus ul style*/
.headerMainMenus ul{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 12px;
    font-weight: 800;
    font-family:sans-serif;
    padding: 0;
    align-items: center;
    width: 100%;
    margin-top: 0;
}
/*header upper menus li items style*/
.headerMainMenus li {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding-right: 18px;
}

/*header lower menu div style*/
.headerSecondaryMenu {
    padding: 0;
    justify-content: center;
    align-items: center;
}
/*header lower menu ul style*/
.headerSecondaryMenu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    align-items: center;
    padding: 0;
    height: 100%;
}
/*header lower menu li items style*/
.headerSecondaryMenu li {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 20px;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*los 50 icon */
.headerSecondaryMenu svg {
    height: 30px;
    width: 30px;
}

/*los 50 icon style*/
.los50 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*los 50 text style*/
 .los50 .los50Text {
    margin-top: 5px;
 }

 /*encuentra restaurante menu div*/
 .encuentraRestaurante {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
 }
 .encuentraRestauranteIcon {
    padding-right: 10px;
 }
 .encuentraRestauranteIcon svg{
    width: 17px;
    height: 20px;
 }
 .encuentraRestauranteText {
    font-size: 8px;
    flex: 1;
 }
 .encuentraRestauranteText h2{
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    font-family:sans-serif;
 }

 /*orderar button style*/
 .ordenarButton{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .ordenarButton h2 {
    border: 3px solid #FFBC0D;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #FFBC0D;
    font-weight: 800;
    font-family:sans-serif;
    width: 100px;
    text-align: center;
 }
 
 
